p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdcomment {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.rmdcomment:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

 .rmdachtung {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.rmdachtung:before {
    content: "\f06a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }


  .rmdinfo {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.rmdinfo:before {
    content: "\f129";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }
